name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  download-history:
    runs-on: ubuntu-latest
    steps:
      - name: setup Typescript
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Download history files
        run: |
          ARTIFACT_ID=$(curl -L 
          -H "Accept: application/vnd.github+json" 
          -H "X-GitHub-Api-Version: 2022-11-28" 
          "https://api.github.com/repos/${{ github.repository }}/actions/artifacts?name=allure-results" 
          | node -e "let d='';process.stdin.on('data',c=>d+=c);process.stdin.on('end',()=>console.log(JSON.parse(d).artifacts[0].id))")
          &&
          curl -L -H "Accept: application/vnd.github+json" 
          -H "Authorization: Bearer ${{ secrets.ACTION_TOKEN }}"
          "https://api.github.com/repos/${{ github.repository }}/actions/artifacts/${ARTIFACT_ID}/zip" 
          -o artifact.zip
          &&
          REPORT_ID=$(curl -L 
          -H "Accept: application/vnd.github+json" 
          -H "X-GitHub-Api-Version: 2022-11-28" 
          "https://api.github.com/repos/${{ github.repository }}/actions/artifacts?name=gethub-pages"
          | node -e "let d='';process.stdin.on('data',c=>d+=c);process.stdin.on('end',()=>console.log(JSON.parse(d).artifacts[0].id))")
          &&
          curl -L -H "Accept: application/vnd.github+json" 
          -H "Authorization: Bearer ${{ secrets.ACTION_TOKEN }}"
          "https://api.github.com/repos/${{ github.repository }}/actions/artifacts/${REPORT_ID}/zip" 
          -o pages.zip
      - name: Unzip Allure results
        run: mkdir allure-results && unzip artifact.zip -d allure-results || echo "No allure-results artifact found"
      - name: Unzip GitHub Pages report
        run: |
          mkdir old_pages && unzip pages.zip -d old_pages
          &&
          tar -xzf old_pages/_site.tar.gz -C pages_history      
          || echo "No GitHub Pages artifact found"
      - name: Copy history files to the current report
        run: |
          if [ -d "pages_history" ]; then
            cp -r pages_history/history/* allure-results/history/"
          else
            echo "No GitHub Pages artifact found, skipping history copy"
          fi
      - name: Store updated Allure results
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results
          retention-days: 30
      

  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    needs: download-history
    name: Run Playwright tests
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test
    - name: Upload Playwright report
      uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
    - name: Upload Allure results
      uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: allure-results
        path: allure-results/
        retention-days: 30
  
  generate-allure-report:
    needs: test
    runs-on: ubuntu-latest
    name: Generate Allure Report
    steps:
      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: 'microsoft'
          java-version: '17'
      - name: Insrall Allure Commandline
        run: |
          sudo wget https://github.com/allure-framework/allure2/releases/download/2.23.1/allure-2.23.1.tgz 
          && 
          sudo tar -zxvf allure-2.23.1.tgz -C /opt/ 
          && 
          sudo ln -s /opt/allure-2.23.1/bin/allure /usr/bin/allure
      - name: Download Allure results
        uses: actions/download-artifact@v4
      - name: Generate Allure report
        run: allure generate allure-results --clean -o _site
      - name: Store generated Allure report
        uses: actions/upload-artifact@v4
        with:
          name: _site
          path: _site
          retention-days: 30
  
  publish-allure-report:
    needs: generate-allure-report
    runs-on: ubuntu-latest
    name: Publish Allure Report
    steps:
      - name: Download generated Allure report
        uses: actions/download-artifact@v4
      - name: Uplload pages artifact
        uses: actions/upload-pages-artifact@v4
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
