name: Playwright Tests
on:
  workflow_dispatch:
      inputs:
          deployment_target:
              description: 'Deployment target environment'
              required: true
              default: 'all tests'
              type: choice
              options:    
              - all tests


permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  download-history:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Download history files
        run: >
          ARTIFACT_ID=$(curl -L
          -H "Accept: application/vnd.github+json"
          -H "X-GitHub-Api-Version: 2022-11-28"
          "https://api.github.com/repos/${{ github.repository }}/actions/artifacts?name=allure-results"
          | node -e "let d='';process.stdin.on('data',c=>d+=c);process.stdin.on('end',()=>console.log(JSON.parse(d).artifacts?.[0]?.id ?? undefined))")
          &&
          echo "Found artifact ID for allure-results: $ARTIFACT_ID"
          &&
          curl -L 
          -H "Accept: application/vnd.github+json"
          -H "Authorization: Bearer ${{ secrets.ACTION_TOKEN }}"
          "https://api.github.com/repos/${{ github.repository }}/actions/artifacts/$ARTIFACT_ID/zip"
          --output artifact.zip
          &&
          REPORT_ID=$(curl -L
          -H "Accept: application/vnd.github+json"
          -H "X-GitHub-Api-Version: 2022-11-28"
          "https://api.github.com/repos/${{ github.repository }}/actions/artifacts?name=github-pages"
          | node -e "let d='';process.stdin.on('data',c=>d+=c);process.stdin.on('end',()=>console.log(JSON.parse(d).artifacts?.[0]?.id ?? undefined))")
          &&
          echo "Found artifact ID for github-pages: $REPORT_ID"
          &&
          curl -L 
          -H "Accept: application/vnd.github+json"
          -H "Authorization: Bearer ${{ secrets.ACTION_TOKEN }}"
          "https://api.github.com/repos/${{ github.repository }}/actions/artifacts/$REPORT_ID/zip"
          --output pages.zip
      - name: Unzip Allure results
        run: |
          { mkdir allure-results && unzip artifact.zip -d allure-results; } || echo "No allure-results artifact found"
        continue-on-error: true
      - name: Unzip GitHub Pages report
        run: |
          { mkdir old_pages pages_history && unzip pages.zip -d old_pages && tar -xzf old_pages/artifact.tar -C pages_history; } || echo "No GitHub Pages artifact found"
        continue-on-error: true
      - name: Copy allure-results to pages_history
        run: >
          cp -r pages_history/history/* allure-results &&        
          cp -r pages_history/history allure-results 
        continue-on-error: true
      - name: Store updated Allure results
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results
          retention-days: 30
      

  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    needs: download-history
    name: Run Playwright tests
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Download Allure Results History
        uses: actions/download-artifact@v4
        continue-on-error: true
      - name: all tests
        if: "github.event.inputs.deployment_target == 'all tests'"
        run: npx playwright test
        continue-on-error: true
      - name: Upload Playwright report
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report
          retention-days: 30
      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results
          retention-days: 30
          overwrite: true

  
  generate-allure-report:
    needs: test
    runs-on: ubuntu-latest
    name: Generate Allure Report
    steps:
      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: 'microsoft'
          java-version: '17'
      - name: Install Allure Commandline
        run: >
          sudo wget https://github.com/allure-framework/allure2/releases/download/2.23.1/allure-2.23.1.tgz &&
          sudo tar -zxvf allure-2.23.1.tgz -C /opt/ &&
          sudo ln -s /opt/allure-2.23.1/bin/allure /usr/bin/allure
      - name: Download Allure results
        uses: actions/download-artifact@v4
      - name: Generate Allure report
        run: allure generate allure-results --clean -o _site
      - name: Store generated Allure report
        uses: actions/upload-artifact@v4
        with:
          name: _site
          path: _site
          retention-days: 30
  
  publish-allure-report:
    needs: generate-allure-report
    runs-on: ubuntu-latest
    name: Publish Allure Report
    steps:
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v4
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
